.petition-write {
  display: flex;
  flex-direction: column;

  input,
  select,
  textarea {
    margin: 10px 0;
    color: rgb(33, 37, 41);
  }

  .title {
    font-size: 2.8rem;
    outline: none;
    border: none;
    font-weight: bold;
  }
  .category {
    width: 10rem;
    padding: 5px 2px;
    outline: none;
    border: none;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
    border: 0.0625rem solid transparent;
    border-radius: 10px;
    font-size: 1rem;
    color: rgb(43, 44, 46);
  }
  .contents {
    outline: none;
    border: none;
    font-size: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
    border: 0.0625rem solid transparent;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    padding: 10px 5px;
  }
  .files {
    display: flex;
    flex-direction: column;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
}
