@import 'styles/_palette';

.button {
  text-align: center;
  cursor: pointer;
  border-radius: 0.7rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);

  &.basic {
    color: #6a737c;
    border-color: #f0f2f3;
  }

  &.sm {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  &.md {
    font-size: 1rem;
    padding: 6px 12px;
  }

  &.lg {
    font-size: 1.2rem;
    padding: 6px 12px;
  }

  &.xl {
    height: 3rem;
    width: 20rem;
    padding: 1rem;
  }

  cursor: default;

  a {
    color: #2ac1bc;
    font-weight: bold;
    cursor: pointer;
  }
}
