$white: #fff;
$black: #0c0d0e;
$orange: #f48024;
$yellow: #fbf2d4;
$green: #5eba7d;
$blue: #0077cc;
$powder: #e1ecf4;
$red: #d1383d;
$black-025: #fafafb;
$black-050: #eff0f1;
$black-075: #e4e6e8;
$black-100: #d6d9dc;
$black-150: #c8ccd0;
$black-200: #bbc0c4;
$black-300: #9fa6ad;
$black-350: #9199a1;
$black-400: #848d95;
$black-500: #6a737c;
$black-600: #535a60;
$black-700: #3c4146;
$black-750: #2f3337;
$black-800: #242729;
$black-900: #0c0d0e;
