.write-icon {
  display: flex;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(42, 193, 188, 0.7);
  margin-left: auto;
  margin-right: 1rem;
  bottom: 4rem;

  .BsPencilSquare {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: gray;
  }
}
