@import '../../../styles/palette';

.global-nav-wrapper {
  display: flex;
  margin: 0 auto;

  .global-nav {
    margin-left: auto;
    display: flex;
    list-style: none;

    li {
      color: $black-500;
      margin: 0.3rem;
      padding: 0.3rem;
      border: 0;
      cursor: pointer;
    }
  }
}
