@import '../../../styles/palette';
.box {
  position: fixed;
  width: 65%;
  height: 60px;
  top: 0.5rem;
  display: flex;
  align-items: center;
  &.down {
    background-color: rgba(57, 57, 57, 0.1);
    backdrop-filter: blur(1.5rem) saturate(1);
    border-radius: 0.425rem;
  }

  p {
    margin-left: 2rem;
    font-size: 1.1rem;
    color: $black-700;
    animation-name: title-up;
    animation-duration: 0.5s;
  }

  @keyframes title-up {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

ul {
  position: absolute;
  right: 2rem;
  display: flex;
  list-style: none;

  li {
    color: $black-500;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    border: 0;
    cursor: pointer;
  }
}
